a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
.f45 {
    font-size: 45px;
}
.f35 {
    font-size: 35px;
}
.f30 {
    font-size: 30px;
}
.f25 {
    font-size: 25px;
}
.f20 {
    font-size: 20px;
}
.f15 {
    font-size: 15px;
}
.c {		
    text-align: center;
}
.l {
    text-align: left;
}
.r {
    text-align: right;
}
.b {
    background-color: #191c1f;
}
.f {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.clw {
    color: white;
}
.clg {
    color: gray;
}
.clgr {
    color: green;
}
* {
    scrollbar-width: thin;
    scrollbar-color: #73b531 hsla(0,0%,100%,.1);
}
.loc-caption:before {
    content: attr(title);
    display: block;
}
.cp:before {
    content: "I'm available for Minecraft-Server plugin commissions on Telegram: @Sorridi_xyz / Discord: Sorridi#4432 / Email: reallygud at protonmail dot com";
    font-size: 12px;
    color: gray;
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    bottom: 0px;
    width: 100%;
    white-space: pre-line;
}
.dg {
    color: rgb(0, 129, 0);
}
.bl {
    color: rgb(50, 50, 252);
}
